.card {
  background: white;
  padding: 20px;
  border-radius: 12px;
  text-align: center;

  img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
  }

  .data {
    p {
      margin: 0;
    }
  }
}
