.card {
  height: 254px;
  padding: 16px;
  background: white;
  border-radius: 8px;
  text-align: center;
  word-wrap: break-word;
  overflow-wrap: break-word;

  img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
  }

  .data {
    p {
      margin: 0;
    }
  }
}
