@use './variables' as *;

html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  background-color: $background-color;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0px 10px;
}

@media screen and (max-width: 360px) {
  .container {
    padding: 0px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    padding: 0px;
  }
}

@media screen and (max-width: 1024px) {
  .container {
    padding: 0px;
  }
}
