@import './variables';

html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  background-color: $background-color;
}

h1 {
  font-size: 40px;
  font-weight: 400;
  line-height: 40px;
}

p {
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
}

.btn {
  width: 100px;
  height: 34px;
  background: $primary-color;
  border: none;
  padding: 8px 15px;
  border-radius: 80px;
  cursor: pointer;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}
