@use '../../styles/variables';

.header {
  background: white;
  padding: 10px 0;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo {
    display: flex;
    align-items: center;
  }

  .buttons {
    display: flex;
    gap: 10px;
  }
}
